<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Edit Listing</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
	  <p> Code: </p> 
	  <input type = "text" ng-model = "newCode">
	  <p> Name: </p> 
	  <input type = "text" ng-model = "newName"> 
	  <p> Address: </p> 
	  <input type = "text" ng-model = "newAddress"> 
	  <p> Longitude: </p> 
	  <input type = "text" ng-model = "newLongitude"> 
	  <p> Latitude: </p> 
	  <input type = "text" ng-model = "newLatitude"> 
	  <button ng-click = addListing()> 
	    Add Listing 
	  </button> 
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </font>
  </body>
</html>
